<!DOCTYPE html>
{% load static %}
<html lang="en" class="h-full bg-white">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Signup</title>
		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body class="h-full">
		<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
			<div class="sm:mx-auto sm:w-full sm:max-w-sm">
				<img
					class="mx-auto h-[100px] w-auto"
					src="{% static 'img/fallback.png' %}"
					alt="Your Company"
				/>
				<h2
					class="mt-8 text-center text-2xl font-bold tracking-tight text-gray-900"
				>
					Sign up your account
				</h2>
			</div>

			<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
				<form class="space-y-4" action="{% url 'users:signup' %}" method="POST">
					{% csrf_token %}

					<!-- Role -->
					<div>
						<label
							for="role"
							class="block mb-2 text-sm font-medium text-gray-900"
						>
							User type
						</label>
						{% if form.role.errors %}
						<p class="text-red-500 text-sm mt-1">{{ form.role.errors.0 }}</p>
						{% endif %} {{ form.role }}
					</div>

					<!-- First and Last Name -->
					<div class="flex gap-4">
						<div class="w-1/2">
							<label
								for="first_name"
								class="block text-sm font-medium text-gray-900"
							>
								First name
							</label>
							{% if form.first_name.errors %}
							<p class="text-red-500 text-sm mt-1">
								{{ form.first_name.errors.0 }}
							</p>
							{% endif %} {{ form.first_name }}
						</div>
						<div class="w-1/2">
							<label
								for="last_name"
								class="block text-sm font-medium text-gray-900"
							>
								Last name
							</label>
							{% if form.last_name.errors %}
							<p class="text-red-500 text-sm mt-1">
								{{ form.last_name.errors.0 }}
							</p>
							{% endif %} {{ form.last_name }}
						</div>
					</div>

					<!-- Email -->
					<div>
						<label for="email" class="block text-sm font-medium text-gray-900">
							Email address
						</label>
						{% if form.email.errors %}
						<p class="text-red-500 text-sm mt-1">{{ form.email.errors.0 }}</p>
						{% endif %} {{ form.email }}
					</div>

					<!-- Password -->
					<div>
						<label
							for="password1"
							class="block text-sm font-medium text-gray-900"
						>
							Password
						</label>
						{% if form.password1.errors %}
						<p class="text-red-500 text-sm mt-1">
							{{ form.password1.errors.0 }}
						</p>
						{% endif %} {{ form.password1 }}
					</div>

					<!-- Confirm Password -->
					<div>
						<label
							for="password2"
							class="block text-sm font-medium text-gray-900"
						>
							Confirm Password
						</label>
						{% if form.password2.errors %}
						<p class="text-red-500 text-sm mt-1">
							{{ form.password2.errors.0 }}
						</p>
						{% endif %} {{ form.password2 }}
					</div>

					<!-- Submit -->
					<div>
						<button
							type="submit"
							class="flex w-full justify-center rounded-md bg-green-600 px-3 py-1.5 text-sm font-semibold text-white shadow hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-600"
						>
							Sign up
						</button>
					</div>
				</form>

				<p class="mt-10 text-center text-sm text-gray-500">
					Already a member?
					<a
						href="{% url 'users:login' %}"
						class="font-semibold text-green-600 hover:text-green-700"
					>
						Log in
					</a>
				</p>
			</div>
		</div>
	</body>
</html>
